.containerBox {
  margin-top: 12px;
  box-shadow: 4px 4px 8px #cbddd4;
  padding: 5px;
}
.centerText {
  text-align: center;
}
.buttonCenter {
 margin: 10px 110px !important;
}
.inputPadding {
  padding: 15px 0px;
  width: 100%;
  text-align: center;
}
.incExpShadow {
  box-shadow: 2px 2px 8px #cbddd4;
}
.buttonHover:hover {
  background-color: rgb(154, 235, 228) !important;
}
.deleteButton:hover {
  color: rgb(172, 0, 0) !important;
}